.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log
.firebase/
.firebaserc

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
.firebase/hosting..cache
.firebase/hosting.ZGlzdA.cache
testfirebase/hosting..cache
testfirebase/hosting.ZGlzdA.cache
